<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title"><img src="{{ site.baseurl }}/favicon.png" style="display: inline-block; margin:0"> {{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}/">소개</a></li>
          <li><a href="{{ site.baseurl }}/">블로그</a></li>
          <li><a href="{{ '/recruit' | prepend: site.baseurl }}">채용정보</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; Copyright © 2017 8DAYS. All rights reserved.
      </span>
    </footer>
  </body>
</html>
